*,*::after,*::before{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html{
	overflow: hidden;
}

body{
	overflow: hidden;
}
.container{
 		background: -webkit-linear-gradient(-60deg, #dededb, #faf8f4);
	background: -moz-linear-gradient(-60deg, #dededb, #faf8f4);
	background: -o-linear-gradient(-60deg, #dededb, #faf8f4);
	background: linear-gradient(150deg, #dededb, #faf8f4);
	font-family: 'Open Sans', sans-serif;
	position: relative;
}
.wrapper{
	position: relative;
	top: 150px;
}

.button{
	width: 218px;
	height: 218px;
	position: relative;
	margin: 0 auto;
	display: block;
}

.button[data-active="false"]{
	background: url(Record_inactive.png);
}

.button[data-active="true"]{
	background: url(Record_active.png);
	display: none;
}
p{
	margin-top: 15px;
	text-align: center;
	color : #79766F;
	font-weight: 500;
	font-size: 25px;
	text-transform: uppercase;
}

#recording{
	font-size: 15px;
	margin-top: 4px;
	color:#9E9B85;
}

.recordlist{
	position : absolute;
	right : 50px;
	top : -90px;
	list-style: none;
	z-index: 2;
}

.file{
	width: 240px;
	cursor : pointer;
	position: relative;
	height : 120px;
	overflow-y : hidden;
	overflow-x: visible;
	left : 300px;

}

.file:not(:first-child){
	margin-top: -24px;
}

.file > input{
	position: absolute;
}

.file:hover .controls{
	color : #848271;
}

.controls{
	list-style : none;
	color : #B1B0A7;
	position : absolute;
	top : 22px;
	left : 26px;
	pointer-events : none;
	-webkit-transition: all 0.3s;
}

.controls > li{
	padding : 0px;
	margin : 0px;
	z-index: 20;

}
.controls:hover{
	color: #404035;
}

.pause{
	display: none;
}

.download{
	position: absolute;
	left : 78px;
	font-size: 17px;
	top: 5px;
	font-weight: bold;
	margin-top: 15px;
	padding:0px;
	-webkit-transition : all 0.3s;
}

.download i{
	-webkit-transition : all 0.3s;
}
.download:hover{
	
	-webkit-transform : translateX(3px);
}

.download:hover i{
	color : #CB3C38;
}

#dummy{
	display: none;
}

.dload{
	text-decoration: none;
	color: #B1B0A7;
	font-size: 18px;
}

.dload:hover{
	color : #60604F;}

	.dload{
		-webkit-transform : translateX(3px);
	}

#visualize{
	position: absolute ;
	left: 0;
	pointer-events: none;
}

#logo{
	position: fixed;
	top: 20px;
	left: 25px;
	z-index: 5;
	width: 150px;
}

p.chrome{
	text-transform: none;
	font-size: 10pt;
	position: absolute;
	top: 90px;
	left: 28px;
	letter-spacing: 1pt;
	opacity: 0.4;
}